python-telegram-bot==20.6
openai
Pillow
python-dotenv
nest_asyncio
apscheduler
requests
torch
ffmpeg-python
faster-whisper
deep-translator
feedparser
# опціонально: тільки якщо ти ще використовуєш офіційний whisper
# whisper @ git+https://github.com/openai/whisper.git





