python-telegram-bot==20.7
openai
Pillow
python-dotenv
nest_asyncio
apscheduler
requests
torch
ffmpeg-python
faster-whisper
deep-translator
feedparser
langdetect==1.0.9

# опціонально: тільки якщо ти ще використовуєш офіційний whisper
# whisper @ git+https://github.com/openai/whisper.git





